<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <%= "By ... #{@question.user.email} "%>
</p>

<h3>Answers</h3>
<div class="replyBlack">
  <%= nested_answers @answers.arrange(:order => :created_at) %>
</div>

<% if current_user %>
	<%= render partial: 'answers/form', locals: { answer: @answer } %> 
	<% if current_user.id == @question.user.id %>
		<%= link_to 'Edit', edit_question_path(@question) %>
	<% end %>
<% end %>
