
<div class="row">
    <div class="col-xs-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Question</th>
            <th>User</th>
            <th>Answeres Count</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @all_questions.each do |question| %>
            <tr>
              <td><%= question.question %></td>
              <td><%= question.user.email %></td>
              <td><%= question.answers.count %></td>
              <td><%= link_to 'See Answers', question, :class => "btn btn-success" %></td>
              <!-- <td><%= link_to 'Edit', edit_question_path(question) %></td>
              <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-4">
      <strong> My Questions </strong>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Question</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @my_quetions.each do |question| %>
            <tr>
              <td><%= question.question %></td>
              <td><%= question.user_id %></td>
              <td><%= link_to 'Show', question, :class => "btn btn-primary"%></td>
              <td><%= link_to 'Edit', edit_question_path(question), :class => "btn btn-success" %></td>
              <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% if current_user %>
      <%= link_to 'New Question', new_question_path, :class => "btn btn-success" %>
    <% else %>
      <p> Please login to Ask questions </p>
    <% end %>
    </div>
