<!DOCTYPE html>
<html>
<head>
<title>AskMe</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
        <%=  link_to "Ask Me Anything HOME", new_user_registration_path, :class => 'nav-link'%>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.email, edit_user_registration_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-warning'  %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %> 
        </li>
        <li class="nav-item">  
          <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
        </li>
      <% end %>
    </ul>

   <div class="form-inline float-right">
     <%= form_tag root_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], :class => "form-control mr-sm-2" %>
        <%= submit_tag "Search", :name => nil, :class => 'btn btn-success' %>
      </p>
      <% end %>
    </div>

</nav>
<br>

<div class="row">
  <%= yield %>        
</div>

</body>
</html>
